/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px    Tablet landscape
[1200 -1800]    Desktop the present design
1800px + :      Big desktop

$breakpoint arguement choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media (min-width: 112.5em) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

::selection {
  background: #fff;
}

body {
  font-family: Work Sans Regular;
  line-height: 1.7;
  font-weight: 400;
  font-size: 2rem;
  box-sizing: border-box;
  background-color: #fff;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Base */
html {
  overflow-x: hidden;
}

body {
  line-height: 1.7;
  font-weight: 400;
  font-size: 2rem;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: Work Sans;
  font-weight: bold;
}

h1, h2,
.h1, .h2 {
  font-size: 7rem;
}

h5,
.h5 {
  font-size: 2.4rem;
}

.text-black {
  color: #000 !important;
}

body:after {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.log {
  font-weight: 700;
  font-size: 3rem;
  color: #FF007F;
  font-family: Poppins !important;
}

.log2 {
  color: #6B93F6;
  font-weight: 800;
  font-size: 3rem;
}

.align {
  justify-content: center;
  align-items: center;
}

.mg-t {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mg-t2 {
  margin-top: 2rem;
}

.pd {
  padding: 0.5rem 2rem !important;
  font-size: 2rem;
  display: inline-block;
}

.pd2 {
  padding: 0.5rem 1rem !important;
  font-size: 1.6rem;
  display: inline-block;
}

.pad {
  padding: 6rem 0;
}

.mg-b {
  margin-bottom: 2rem;
}

.mg-b3 {
  margin-bottom: 5rem;
}

.mg-b4 {
  margin-bottom: 5rem !important;
}

.icon {
  fill: #fff;
  width: 2rem;
  height: 1rem;
  text-align: center;
}

.bgk {
  background-color: #F2F6FF;
  padding: 2rem;
}

.icon2 {
  fill: #324575;
  background-color: #fff;
  border-radius: 50%;
  width: 8rem;
  /* margin: 2rem; */
  padding: 2rem;
  height: 8rem;
  position: relative;
  top: 4rem;
}

.mg-t {
  margin-top: 1rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 56.25em) {
  .row {
    display: block;
  }
}
.row:not(:last-child) {
  margin-bottom: 3rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 10rem;
}
@media (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 10rem) / 2);
}
.row .colw {
  width: calc(100% - 10rem + 10rem);
}
.row .col-1-of-32 {
  width: calc((100% - 4 * 10rem) / 3.5);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 10rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 10rem) / 3 + 10rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 10rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 10rem) / 4 + 10rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 10rem) / 4 + 2 * 10rem);
}
.row .col-1-of-5 {
  width: calc((100% - 4 * 10rem) / 5);
}
.row .col-1-of-6 {
  width: calc((100% - 5 * 10rem) / 6);
}
.row .col-1-of-12 {
  width: calc((100% - 18rem) / 12);
}
.row .col1 {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.row .col-2 {
  width: cal(114rem/2);
}

.btn {
  padding: 0rem 3rem;
  border-radius: 5rem;
  cursor: pointer;
  text-align: center;
  background-image: linear-gradient(130deg, #FF007F 35%, #6B93F6);
  font-family: Work Sans;
  font-weight: 600;
}
.btn a {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}
.btn a span {
  font-size: 2rem;
  text-align: center;
}

.btn:hover {
  background-image: none;
  background-color: #FF007F;
}

.abt {
  background-color: #F2F6FF;
}
.abt h2,
.abt h3,
.abt p {
  color: #324575;
}
.abt h3 {
  margin-bottom: 1rem;
}

.contact {
  background-color: #fff;
  border-radius: 2rem;
  margin: 4rem;
  color: #324575;
  padding: 3rem;
}
.contact form {
  display: flex;
  max-width: 100rem;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  color: #050607;
}
.contact form input {
  border-radius: 1rem;
  padding: 1rem 0 1rem 1rem;
  background-color: #F3F5FA;
  border-radius: 5px;
  border: 1px solid #ECECEC;
  color: #050607;
}
.contact form input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba #000, 0.1;
  border-bottom: 3px solid green;
}
.contact form input:focus:invalid {
  border-bottom: 3px solid #FF007F;
}
.contact form input::-webkit-input-placeholder {
  color: #ECECEC;
}
.contact form label {
  font-size: 2rem;
  font-weight: 400;
  padding-left: 1rem;
}
.contact form textarea {
  border-radius: 1rem;
  background-color: #F3F5FA;
  padding-left: 1rem;
  font-size: 1.8rem;
  border: 1px solid #ECECEC;
}

.cont_txt {
  margin: 4rem 2rem;
  align-items: center;
  justify-content: center;
  margin: 0 6rem;
  flex-basis: 45%;
}
.cont_txt-s {
  margin-top: 5rem;
}
.cont_txt-s span a {
  border-bottom: 2px solid;
  display: inline-block;
  padding: 0rem;
  margin-top: 1rem;
  text-decoration: none;
  color: #324575;
  cursor: pointer;
}
.cont_txt-s span:visited a,
.cont_txt-s span:focus a,
.cont_txt-s span:hover a {
  color: #EE5719;
}

.ft {
  display: flex;
  background-color: #6B93F6;
  color: #fff;
  padding: 5rem 3rem;
  gap: 6rem;
  align-content: center;
  align-items: center;
}
.ft a {
  color: #fff;
}
.ft_main {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}
.ft_main1 h4 {
  font-family: Chrous;
}
.ft_main1-lg {
  margin-bottom: 3rem;
}
.ft_main1 p {
  padding-left: 1rem;
  font-size: 1.8rem;
}
.ft_main1_log a {
  display: flex;
  font-family: Poppins !important;
  font-size: 2rem;
  padding: 0 1rem !important;
  text-decoration: none;
  align-items: center;
}
.ft_main1_log a span {
  font-size: 3rem;
  height: 4rem;
  font-family: Poppins;
}
.ft_main1_log a img {
  position: relative;
  top: -0.2rem;
  padding-right: 0.1rem;
  width: 5rem;
}
.ft_main1-md {
  display: flex;
  margin-top: 2rem;
  gap: 3rem;
  padding-left: 2rem;
}
.ft_main-l2 li {
  list-style: none;
}
.ft_main-l2 li a {
  text-decoration: none;
  cursor: pointer;
  padding: 1rem;
}
.ft_main-l2 li a:hover {
  background-color: #FF007F;
  border-radius: 1rem;
}
.ft_main-l2 h5 {
  padding: 1rem;
  font-size: 2.4rem;
}

.guid h3,
.guid h2,
.guid p {
  color: #324575;
}
.guid h3 {
  margin-bottom: 1rem;
}

.hom {
  height: 100vh;
  background-image: linear-gradient(to right, #07206c, transparent), url(../../img/home.png);
  background-size: cover;
  background-position: top;
  border: none;
  outline: none;
}
@media (max-width: 75em) {
  .hom {
    flex: 1 0 91%;
  }
}
@media (min-resolution: 192dpi) and (min-width: 37.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-width: 125em) {
  .hom {
    background-image: linear-gradient(to right, #07206c, trasparent), url(../../img/home.png);
  }
}
@media (max-width: 75em) {
  .hom {
    height: 80vh;
  }
}
@media (max-width: 27em) {
  .hom {
    height: 70vh;
  }
}
.hom__txt {
  position: absolute;
  top: 25%;
  left: 5.8vw;
  color: #fff;
}
.hom__txt h1 {
  font-size: 7rem;
}
.hom__txt p {
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.arrow {
  margin-left: 2rem;
  height: 1rem;
}

/* DROP DOWN MENU START */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  height: 80px;
}
.nav_log a {
  display: flex;
  font-family: Poppins !important;
  font-size: 2rem;
  padding: 0 1rem !important;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nav_log a span {
  font-size: 3rem;
  height: 4rem;
  font-family: Poppins;
}
.nav_log a img {
  position: relative;
  top: 0.8rem;
  padding-right: 0.3rem;
  width: 5rem;
}
.nav_menu {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-basis: 50%;
}
.nav_menu li {
  list-style: none;
}
.nav_menu li a {
  list-style: none;
  text-decoration: none;
  color: #324575;
  cursor: pointer;
}
.nav_menu li a:focus, .nav_menu li a:active, .nav_menu li a:hover, .nav_menu li a:focus-visible {
  outline: none;
  border-bottom: 1px solid #061A48;
  color: #EE5719;
}

/* DROP DOWN MENU END */
/*------Slider-------*/
.dsgn {
  padding: 0 3rem;
  color: #324575;
  overflow-x: hidden;
}
.dsgn h2:visited,
.dsgn h2:hover,
.dsgn h2:focus,
.dsgn h2:active {
  background-color: #fff;
}

.con {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  position: relative;
  padding: 0 12rem;
}
.wrapper span {
  color: #606060;
}

.wrapper i {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 5rem;
  height: 5rem;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -2rem;
}

.wrapper i:last-child {
  right: -2rem;
}

#left {
  margin-left: 3rem;
  z-index: 1;
  left: 5rem;
  top: 7.5rem;
}

#right {
  margin-right: 30px;
  z-index: 1;
  top: 7.5rem;
  right: 5rem;
}

.test-icon {
  width: 5rem;
  height: 5rem;
  fill: gray;
  border-radius: 50%;
  padding: 0rem;
}

.wrapper .carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 4rem;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  align-items: center;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .card {
  scroll-snap-align: start;
  height: 100vw px;
  list-style: none;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card img {
  width: 20rem;
}
.carousel .card span {
  color: #000;
  font-size: 2rem;
}

.get {
  background-color: #6B93F6;
  margin: 4rem;
  border-radius: 2rem;
  color: #fff;
  padding: 3rem;
}
.get-hd {
  max-width: 114rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.get-hd h3,
.get-hd h4 {
  margin-bottom: 1rem;
}
.get-con {
  background-color: #fff;
  border-radius: 2rem;
  color: #324575;
  padding: 2rem 3rem;
}
.get-con p {
  font-size: 1.6rem;
}

.d-fl {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

.yrs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  padding: 4rem 1rem;
}
.yrs_5 {
  align-self: center;
  text-align: center;
  color: #324575;
}
.yrs_5 h3 {
  font-size: 4rem;
}
.yrs_5 a {
  color: #5373C2;
  font-size: 2rem;
  cursor: pointer;
}
.yrs_5 a:hover {
  color: #EE5719;
}

/*# sourceMappingURL=style.css.map */
