.contact{
     background-color: $color-white;
     border-radius: 2rem;
     margin: 4rem;
     color: $color-txt-heading;
     padding: 3rem;

   


    form{
         display:flex;
        max-width:100rem;
        flex-direction: column;
        padding:15px;
        border-radius:5px;
        color: $color-inpt-txt;
        


       

        input{
            
            border-radius: 1rem;
            padding: 1rem 0 1rem 1rem;
            background-color: $color-input-back;
            border-radius:5px;
            border:1px solid $color-nav-ln;
            color: $color-inpt-txt;

            
        
        
            &:focus{
                outline:none;
                box-shadow: 0 1rem 2rem rgba ($color-black, .1);
                border-bottom: 3px solid $color-green;
            }
         
            &:focus:invalid {
                border-bottom: 3px solid $color-icon
            }

            &::-webkit-input-placeholder {
                color: $color-nav-ln;
            }
        }

        label{
            font-size: $default-font-size;
            font-weight: 400;
            padding-left: 1rem;

        }

        textarea{
            border-radius: 1rem;
            background-color: $color-input-back;
            padding-left: 1rem;
            font-size: 1.8rem;
            // margin-bottom: 2rem;
            border:1px solid $color-nav-ln;
        }

        // button{
        //     background-color: $color-white;
        //     border-radius: 1rem !important;
        //     a{
        //         text-decoration: none;
        //         color: $color-icon;
        //     }

            
        // } 
        
        
        // button:focus,
        // button:visited,
        // button:hover{
        //     background-color: $color-icon;
        //     a{
        //         color:$color-white;
                
        //     }
        // }
    
    }

}

.cont_txt{
    margin:4rem 2rem;
    align-items: center;
    justify-content: center;
    margin: 0 6rem;
    flex-basis: 45%;

    &-s{
        margin-top: 5rem;

        span{
            a{
                border-bottom:2px solid;
                display: inline-block;
                padding: 0rem;
                margin-top: 1rem;
                text-decoration: none;
                color: $color-txt-heading;
                cursor: pointer;


               
                
            }
            
                
            

            
        }
        span:visited,
        span:focus,
        span:hover{
                    a{
                        color: $color-link;

                    }
                }

        
    }

}