.yrs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    padding: 4rem 1rem;
    &_5{
        align-self: center;
        text-align: center;
        color: $color-txt-heading;
        

        h3{
            font-size: 4rem;
        }

        a{
            color: $color-text-u;
            font-size: 2rem;
            cursor:pointer;
        }
        a:hover{
            color:$color-link;
        }
    }
}