.log{
    font-weight: 700;
    font-size: 3rem;
    color:$color-icon;
    font-family: Poppins !important;
}
.log2{
    color:$color-sub-icon;
    font-weight: 800;
    font-size: 3rem;

}
.align{
    justify-content: center;
    align-items: center;
}
.mg-t{
    margin-top: 1rem;
}

.mg-t2{
    margin-top: 2rem;
}
.pd{
    padding: 0.5rem 2rem !important;
    font-size: 2rem;
    display: inline-block;
}

.pd2{
    padding: 0.5rem 1rem !important;
    font-size: 1.6rem;
    display: inline-block;
}


.pad{
    padding: 6rem 0;
}

.mg-b{
    margin-bottom: 2rem;
}

.mg-b4{
    margin-bottom: 5rem !important;
}
.icon{
    fill:$color-white;
    width: 2rem;
    height: 1rem;
    text-align: center;
}

.bgk{
    background-color:$color-fade;
    padding: 2rem;
}
.icon2{
    fill:$color-txt-heading;
    background-color: $color-white;
    border-radius: 50%;
    width: 8rem;
    /* margin: 2rem; */
    padding: 2rem;
    height: 8rem;
    position: relative;
    top:4rem;
    

}
.mg-t{
    margin-top: 1rem;

}