//COLORS
$color-txt-heading: #324575;
$color-sub-icon: #6B93F6;
$color-icon: #FF007F;
$color-fade: #F2F6FF;
$color-darket:#6C6E75;
$color-white:#fff;
$color-body: #606060;
$color-link: #EE5719;
$color-link-hover: #061A48;
$color-text-u:#5373C2;
$color-grad-p:#FF659F;
$color-menu:#324575;
$color-grad:#07206c;
$color-black: #000;


// FONT
$default-font-size: 2rem;


//GRID
$grid-width: 114rem;
$gutter-vertical:3rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:10rem;